{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Tdizel Dashboard</h1>
            <p class="lead">
                Authentication Page for admin
            </p>
            {% if not current_user.is_authenticated() %}
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">login</a> 
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
